In [39]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules, fpgrowth

In [16]:
df = pd.read_csv('../Data/basket_analysis.csv', index_col=0)

In [32]:
freq_items_apriori = apriori(df, min_support=0.01, use_colnames=True)

In [34]:
freq_items_apriori['length'] = freq_items_apriori['itemsets'].apply(lambda x: len(x))

In [35]:
mask = freq_items_apriori['length'] > 1
freq_items_apriori[mask].sort_values('support', ascending=False)

        support                                           itemsets  length
120    0.211211                                  (Milk, chocolate)       2
49     0.207207                                (Ice cream, Butter)       2
107    0.202202                             (Ice cream, chocolate)       2
57     0.202202                                (chocolate, Butter)       2
50     0.202202                             (Butter, Kidney Beans)       2
...         ...                                                ...     ...
11146  0.010010  (Cheese, Eggs, Onion, Unicorn, Yogurt, chocolate)       6
11144  0.010010      (Cheese, Eggs, Onion, Unicorn, Yogurt, Sugar)       6
11143  0.010010     (Cheese, Eggs, Onion, Unicorn, Yogurt, Nutmeg)       6
9587   0.010010   (Milk, Dill, Kidney Beans, Onion, Bread, Nutmeg)       6
12223  0.010010  (Ice cream, Eggs, Milk, Unicorn, Onion, Yogurt...       7

[12208 rows x 3 columns]

In [36]:
item_rules = association_rules(freq_items_apriori, metric='lift', min_threshold=1.2)

In [37]:
item_rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Ice cream),(Butter),0.410410,0.420420,0.207207,0.504878,1.200889,0.034662,1.170579
1,(Butter),(Ice cream),0.420420,0.410410,0.207207,0.492857,1.200889,0.034662,1.162571
2,(Kidney Beans),(Cheese),0.408408,0.404404,0.200200,0.490196,1.212143,0.035038,1.168284
3,(Cheese),(Kidney Beans),0.404404,0.408408,0.200200,0.495050,1.212143,0.035038,1.171583
4,(Milk),(Kidney Beans),0.405405,0.408408,0.199199,0.491358,1.203105,0.033628,1.163081

In [40]:
freq_items_fp = fpgrowth(df, min_support=0.01, use_colnames=True)

In [42]:
freq_items_fp['length'] = freq_items_fp['itemsets'].apply(lambda x: len(x))
mask = freq_items_fp['length'] > 1
freq_items_fp[mask].sort_values('support', ascending=False)

        support                                           itemsets  length
3543   0.211211                                  (Milk, chocolate)       2
19     0.207207                                (Ice cream, Butter)       2
17     0.202202                             (Ice cream, chocolate)       2
3656   0.202202                                (chocolate, Butter)       2
10196  0.202202                             (Butter, Kidney Beans)       2
...         ...                                                ...     ...
3011   0.010010  (Eggs, Kidney Beans, Unicorn, Corn, Sugar, Bread)       6
5255   0.010010  (Apple, Milk, Dill, Unicorn, chocolate, Corn, ...       7
11143  0.010010       (Cheese, Milk, Eggs, Ice cream, Corn, Sugar)       6
11142  0.010010       (Cheese, Ice cream, Eggs, Milk, Dill, Sugar)       6
6031   0.010010    (Apple, Cheese, Unicorn, Butter, Sugar, Nutmeg)       6

[12208 rows x 3 columns]